<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="success" >
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    
    <ion-list >
      <ion-menu-toggle *ngFor="let c of componentes | async">
         <ion-card> 
          <ion-item  class="ion-no-border"  detail="true"
            [routerLink]="c.url"  >
            <ion-icon slot="start" [name]="c.icon"  ></ion-icon>
            {{c.name}}
        </ion-item>
        </ion-card>
        </ion-menu-toggle>  

        <ion-menu-toggle > 
          <ion-card>
            <ion-item (click)="onClick()"  routerLink='/login'  >
              <ion-label>Cerrar Sección</ion-label>
              <ion-icon slot="start" name="exit-outline"  ></ion-icon>
            </ion-item>
        </ion-card>
        </ion-menu-toggle>
    </ion-list>

  </ion-content>
</ion-menu>
