ion-card {
    border-radius: 15px;
}

ion-item {
    --background: #0497352f;
    --color: #248b47;
    font-family:Arial, Helvetica, sans-serif;
    --detail-icon-color:   #248b47;
}


ion-icon {
    color:  #248b47;
    font-size: 24px;

}
